html, body {
    margin: 0;
    padding: 0;
  }
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #66035f;
    background-clip: content-box;
    padding: 20px;
    border: 10px inset grey;
    color: #04f240;
  }
  
  h1 {
    color: red;   /* declaration A */

    font-size: 1em;   /* declaration B */

    padding: 20px 0;  
  }
  
  img {
    height: 200px;
    width: 300px;
    margin: 2em auto;
  }
  
  
  p { color: blue; } 
  .header { color: red; }